/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	padding: 0 25px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #B1663C;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
	/* Pixel perfect ! */
}

#introduction img {
	display: block;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	padding-top: 80px;
	/* Pixel perfect ! */
}

#login {
	padding-bottom: 355px;
	/* Pixel perfect ! */
}

#login h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login_form {
	width: 50%;
	margin: auto;
}

#login_form>* {
	text-align: center;
}

#login_form h2 {
	margin-bottom: 20px;
}

#login_form form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login_form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login_form label {
	margin: 2em 0 1em 0;
}

#login_form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login_form a {
	text-decoration: underline;
	color: #3D3D3D;
	align-self: center;
}

#login_form a:hover {
	color: #7c6c6c;
}

.page_loaded {
	font-weight: bolder;
}

.page_loaded:hover {
	color: black;
}


.img_title {
	padding: 5px 0 0 0;
	color: #3D3D3D;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* _______________________________ */
/* Rajout des filters	   		   */
/* _______________________________ */

.filter {
	display: flex;
	/* Pixel perfect (figma) ! */
	justify-content: center;
	padding: 50px 0;
	gap: 10px;
}

.filter_button:hover {
	cursor: pointer;
	transition: 250ms ease-in-out;
	color: #FFF;
	background: #1D6154;
}

.filter_button {
	/* Pixel perfect (figma) ! */
	color: #1D6154;
	border: solid 1px #1D6154;
	border-radius: 60px;
	background-color: #FFF;
	padding: 10px;
	min-width: 100px;

	font-family: Syne;
	font-size: 16px;
	text-align: center;
}

.figureCard {
	display: none;
}

/* _______________________________ */
/* Doivent être à la fin pour être lu dans le bon ordre ! */

.show {
	display: block;
}

.active {
	background-color: #666;
	color: white;
}

/* _______________________________ */

/* _______________________________ */
/* Fin du rajout filtres  		   */
/* _______________________________ */

/* _______________________________ */
/* Mes ajouts			  		   */
/* _______________________________ */

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.edit {
	display: flex;
	gap: 8px;
}

#edit_body {
	margin-top: 100px;
	/* Pixel perfect (60px edit_bar + 40px d'espacement) ! */
}

#edit_bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	gap: 30px;
}

#edit_bar .edit_texte,
#edit_bar i {
	color: white;
}

#edit_bar button {
	padding: 11px 22px;
	border-radius: 60px;
	background: white;
	font-family: 'Work Sans';
	cursor: pointer;
}

#edit_mode {
	gap: 50px;
}

#button_login {
	width: auto;
	padding: 0 40px;
	/* Pixel perfect ! */
}

#error_login {
	color: red;
	font-style: italic;
}

.insta_img {
	width: 20px;
	height: 20px;
}

#edit_portfolio {
	padding-top: 80px;
}

#edit_portfolio-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

#edit_portfolio .edit {
	align-self: center;
}

/* _______________________________ */
/* Boite modale !		  		   */
/* _______________________________ */

.modalBox {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.75);
}

.modalBox-hidden {
	display: none;
}

.modalBox_wrapper {
	overflow: auto;
	width: fit-content;
	height: fit-content;
	background: white;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	padding: 30px 100px;
	/* Pixel perfect ! */
	text-align: center;
	align-items: center;
}

#modalBox-title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	padding: 15px 0 40px;
	/* Pixel perfect ! */
}

.edit_gallery {
	padding-bottom: 60px;
	width: auto;
	height: fit-content;
	border-bottom: 1px solid #B3B3B3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.edit_gallery img {
	width: 80px;
	padding-bottom: 2px;
	/* Pixel perfect ! */
}

.edit_gallery i {
	z-index: 1;
}

.edit_figureCard {
	height: 120px;
	padding: 10px 5px;
	/* Pixel perfect ! */
	display: flex;
	flex-direction: column;
	text-align: left;
}

.edit_figureCard a {
	cursor: pointer;
}

.edit_iconeManagement {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	top: 30px;
	left: 54px;
	width: fit-content;
}

.edit_iconeManagement i {
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 5px;
	cursor: pointer;
}

.fa-up-down-left-right {
	position: relative;
	left: -46px; /* Pixel perfect en fonction d'edit_iconeManagement (value:left). */
}

.fa-xmark {
	align-self: flex-end;
	position: relative;
	left: 50px;
	/* Pixel perfect ! */
	cursor: pointer;
	font-size: x-large;
	padding: 10px;	/* Plus grosse hit-box ! */
}

.fa-xmark:hover {
	color: rgba(0, 0, 0, 0.5);
}

.modalBox_wrapper button {
	margin-top: 40px;
	width: 240px;
	height: 40px;
	color: white;
	background: #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
}

.modalBox_wrapper #gallery_delete {
	padding: 20px 0 50px;
	font-family: 'Syne';
	font-weight: 400;
	color: #D65353;
}

#gallery_delete {
	cursor: pointer;
}

#gallery_delete:hover {
	opacity: 0.75;
	
}

.errorEmptyField {
	color: red;
	padding-top: 10px;
}

.selectedBeforeDelete {
	opacity: 0.25;
}

.gallery .selectedBeforeDelete {	/* Plus joli si cela ne s'applique pas au image dans le fond. */
	opacity: 1;
}